.close_ic{
    position: sticky;
    top: 100px;
    display: flex;
    align-items: center;
    justify-self: end;
    cursor: pointer;
    z-index: 99999;
}
.close_ic img{
    /* width: 20px; */
    /* height: 20px; */
    transition: all .4s ease;
}

.point-tx{
    color: var(--point-color);
}

.line-deco{
    position: relative;
    width: 100%;
    height: 60px;
}
.line-deco::before{
    content: "";
    position: absolute;
    top: 0%;
    left: 50%;
    width: 2px;
    height: 100px;
    background: #fff;
    transform: translate(-50%, -50%);
}
